footer{
	padding: 1rem;
	text-align: center;
	// display: flex;
	a{
		text-decoration: none;
		color: white;
  }
 /* 
@include breakpoint(md) {
	> *{
		display: inline-block;
	&:nth-child(2){
		margin-left: 2rem;
	}}
}
*/
}

body.brands{
	footer{
		background: lgray;
	}
}