body{
	navigation{
		z-index: 1000;
		color: white;
		position: fixed;
		width: calc(100vw - 2rem);
		display: block;
		// background: linear-gradient(to bottom right, $pink, $orange);
		background: linear-gradient(to bottom right, black, mgray);
		padding: 1rem;
		.navbrand{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			#logo{
				height: 1rem;
				cursor: pointer;
			}
			#hamburger{
				width: 2rem;
				height: 1rem;
				background-image: url("/assets/images/hamburger.png");
				background-repeat: no-repeat;
				background-position-y: 50%;
				background-position-x: 100%
			}
		}
		.navcontent{
			display: none;
			list-style: none;
			padding-top: 2rem;
			li{
				margin-top: 1rem;
				cursor: pointer;
				h3{
					cursor: pointer;
				}
			}
		}
			.menu_item{
				// color: red;
				cursor: pointer;
				transition: .25s;
				a{
					color: white;
					text-decoration: none;
					transition: .25s;
				}
			&:hover{
				color: orange;
				a{
					color: orange;
				}
			}}
		.social{
			display: flex;
			flex-direction: row;
			margin-top: 3rem;
			div{
				height: 1rem;
				width: 1rem;
				margin-right: .5rem;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				transition: .25s;
				cursor: pointer;
			}
			.instagram{
				background-image: url("/assets/images/social/instagram.png");
			&:hover{
				background-image: url("/assets/images/social/instagram_orange.png");
			}}
			.youtube{
				background-image: url("/assets/images/social/youtube.png");
			&:hover{
				background-image: url("/assets/images/social/youtube_orange.png");
			}}
			.linkedin{
				background-image: url("/assets/images/social/linkedin.png");
			&:hover{
				background-image: url("/assets/images/social/linkedin_orange.png");
			}}
			.twitter{
				background-image: url("/assets/images/social/twitter.png");
			&:hover{
				background-image: url("/assets/images/social/twitter_orange.png");
			}}
		}
	}
&.open{
	navigation{
		height: 100vh;
		.navbrand{
			#hamburger{
				// background: red!important;
				background-image: url("/assets/images/closemenu.png");
				background-repeat: no-repeat;
				background-position-y: 50%;
				background-position-x: 100%
			}
		}
		.navcontent{
			display: flex;
			flex-direction: column;
			.social{
				div{
					height: 1.5rem;
					width: 1.5rem;
					margin-right: 1rem;
				}
			}
		}
	}
}
/*
@include breakpoint(md){
	navigation{
		.navbrand{
			width: containerwidth;
			margin: 0 auto;
			.navbrand_menu{
				display: flex;
				flex-direction: row;
				align-items: center;
				div{
					margin-left: .75rem;
					h3{
						font-size: .5rem;
					}
				}
			}
		}
		.social{
			margin: 0 0 0 1rem!important;
			div{
				margin-right: 0;
			}
		}
	}
}*/}
