.newsinstance{
	height: 280px;
	width: 100%;
	display: inline-block;
	margin-bottom: 1rem;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	h3{
		position: absolute;
		width: calc(100% - 2rem);
		background: rgba(0, 0, 0, .5);
		padding: 1rem;
		bottom: 0;
		color: white;
		transition: .5s;
	}
	div{
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center;
	}
&:hover{
	h3{
		padding: 1.5rem 1rem;
	}
}
@include breakpoint(md){
	width: calc(50% - .5rem);
&:nth-of-type(odd){
	margin-right: 1rem;
}}
}