body.newsstory{
	background: white;
	color: black;
	article{
		padding: 0;
	&:first-child{
		padding-top: 0!important;
	}
		.container{
			#mainimg{
				height: 400px;
				background-size: cover;
				background-position: center;
			}
			#textbody{
				padding: 2rem 1rem;
				#content{
					// color: red;
					// font-size: .75rem;
				}
			}
		}
	}/*
@include breakpoint(md){
	article{
	&:first-child{
		padding-top: 5rem!important;
	}
		.container{
			#mainimg{
				border-radius: 6px;
			}
			#textbody{
				padding: 2rem 0;
			}
		}
	}
}*/}