body * {
  font-family: "open_sansregular";
}
body h1,
body h2,
body h3,
body h4,
body button {
  font-family: "hansonbold";
  text-transform: uppercase;
}
body h1 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}
body h3,
body button {
  text-transform: uppercase;
  font-size: 0.75rem;
}
body p,
body .container span {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
@media (min-width: 1000px) {
  body h1 {
    font-size: 1.5rem;
  }
}

body.home {
  background: #101010;
  color: #FFFFFF;
}
body.home #modal {
  z-index: 900;
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
  display: flex;
}
body.home #modal div {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  text-align: center;
}
body.home #modal div * {
  padding: 0.75rem 1rem;
  border-radius: 6px;
  background: #FF6633;
  font-family: "hansonbold";
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
body.home #modal div *:last-of-type {
  margin-top: 2rem;
  background: #E41E84;
}
article:first-of-type {
  padding: 0 !important;
}
article:first-of-type div#mainimg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  background-image: url("/public/desktop_slideshow.gif");
}
article:first-of-type form#mainemail {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  width: calc(100vw - 2rem);
  background: white;
  display: flex;
  height: 2.5rem;
  border-radius: 6px;
  overflow: hidden;
}
article:first-of-type form#mainemail input {
  flex: 100%;
  padding-left: 1.5rem;
  font-family: "hansonbold";
  text-transform: uppercase;
  font-size: 0.75rem;
  border: 0;
}
article:first-of-type form#mainemail button {
  margin: 0;
  border-radius: 6px;
  padding-top: unset;
  padding-bottom: unset;
  padding: auto 2rem;
  color: white;
  background: #FF6633;
  position: absolute;
  height: 100%;
  right: 0;
}
article#news h1 {
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
article#about {
  background: linear-gradient(to bottom right, #E41E84, #FF6633);
}
form#mainform button {
  background: #FF6633;
  width: 100%;
}
@media (min-width: 400px) {
  article:first-of-type div#mainchoice {
    left: calc(1.5rem);
    width: calc(100vw - 3rem);
  }
}
@media (min-width: 1000px) {
  article:first-of-type div#mainimg {
    background-image: url("/public/desktop_slideshow.gif");
  }
 article:first-of-type form#mainemail {
    left: calc(50vw - 450px);
    width: 900px;
  }
  article#testimonials section.testimonial:nth-child(2) a p {
    margin: 0 0 0 3rem;
  }
  article#profile h1 {
    flex: 100%;
  }
  article#profile section#homeProfileImg {
    height: 400px;
  }
  article#profile section#homeProfileImg img {
    display: block;
    width: unset;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.brands navigation {
  background: linear-gradient(to bottom right, #101010, #333333);
}
article:nth-child(odd) {
  background: #DDDDDD;
}
article:first-child {
  background: linear-gradient(to bottom right, #E41E84, #FF6633);
  color: #FFFFFF;
}
article section.testimonial {
  cursor: pointer;
  text-align: center;
}
article section.testimonial a {
  text-decoration: none;
  color: #101010;
}
article section.testimonial a img {
  margin-top: 1rem;
  width: auto;
  height: 2rem;
  margin: 1rem auto;
}
article section.testimonial:nth-child(2) a {
  flex-direction: row-reverse;
}
article section.testimonial:nth-child(2) a img {
  width: 100%;
  height: auto;
}
article#team {
  background: linear-gradient(to bottom right, #E41E84, #FF6633);
  color: #FFFFFF;
}
article#team section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article#team section .teammember-image {
  width: 7rem;
  height: 7rem;
  border-radius: 7rem;
  background-size: cover;
  margin: 1rem 0 0.75rem 0;
  background-position: center;
}
article#form {
  background: #101010;
  color: #FFFFFF;
}
article#form input {
  color: #FFFFFF !important;
  border-bottom: 2px solid #FFFFFF !important;
}
article#form ::placeholder {
  color: #FFFFFF !important;
}
article#form button {
  background: #FF6633;
  color: #FFFFFF;
  width: 100%;
}
.brands footer {
  background: #151515 !important;
  color: #FFFFFF;
}
@media (min-width: 1000px) {
  article#testimonials section.testimonial:nth-child(2) a p {
    margin: 0 0 0 3rem;
  }
  article#team {
    text-align: center;
  }
  article#team section {
    display: inline-block;
    text-align: center;
    width: 400px;
  }
  article#team section div.teammember-image {
    margin-left: auto;
    margin-right: auto;
  }
}

body.creatives,
body.home {
  background: black;
  color: white;
}
body.creatives article:nth-child(odd),
body.home article:nth-child(odd) {
  background: #151515;
}
body.creatives .othercreative,
body.home .othercreative {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
body.creatives .othercreative div.creativeimage,
body.home .othercreative div.creativeimage {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  margin-right: 1rem;
}
body.creatives ::placeholder,
body.home ::placeholder {
  font-weight: bold;
}
body.creatives form,
body.home form {
  color: white !important;
}
body.creatives form fieldset,
body.home form fieldset {
  color: white;
}
body.creatives form fieldset input,
body.home form fieldset input {
  border-bottom: 2px solid #FFFFFF !important;
  color: #FFFFFF;
}
body.creatives form#mainform ::placeholder,
body.home form#mainform ::placeholder {
  color: #FFFFFF;
}
body.creatives button,
body.home button {
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

body.newsstory {
  background: #FFFFFF;
  color: #101010;
}
body.newsstory article {
  padding: 0;
}
body.newsstory article:first-child {
  padding-top: 0 !important;
}
body.newsstory article .container #mainimg {
  height: 400px;
  background-size: cover;
  background-position: center;
}
body.newsstory article .container #textbody {
  padding: 2rem 1rem;
}
@media (min-width: 1000px) {
  body.newsstory article:first-child {
    padding-top: 5rem !important;
  }
  body.newsstory article .container #mainimg {
    border-radius: 6px;
  }
  body.newsstory article .container #textbody {
    padding: 2rem 0;
  }
}

body.news {
  background: #151515;
  color: white;
}

body navigation {
  z-index: 1000;
  color: white;
  position: fixed;
  width: calc(100vw - 2rem);
  display: block;
  background: linear-gradient(to bottom right, #101010, #333333);
  padding: 1rem;
}
body navigation .navbrand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body navigation .navbrand #logo {
  height: 1rem;
  cursor: pointer;
}
body navigation .navbrand #hamburger {
  width: 2rem;
  height: 1rem;
  background-image: url("/assets/images/hamburger.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 100%;
}
body navigation .navcontent {
  display: none;
  list-style: none;
  padding-top: 2rem;
}
body navigation .navcontent li {
  margin-top: 1rem;
  cursor: pointer;
}
body navigation .navcontent li h3 {
  cursor: pointer;
}
body navigation .menu_item {
  cursor: pointer;
  transition: 0.25s;
}
body navigation .menu_item a {
  color: white;
  text-decoration: none;
  transition: 0.25s;
}
body navigation .menu_item:hover {
  color: #FF6633;
}
body navigation .menu_item:hover a {
  color: #FF6633;
}
body navigation .social {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}
body navigation .social div {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.25s;
  cursor: pointer;
}
body navigation .social .instagram {
  background-image: url("/assets/images/social/instagram.png");
}
body navigation .social .instagram:hover {
  background-image: url("/assets/images/social/instagram_orange.png");
}
body navigation .social .youtube {
  background-image: url("/assets/images/social/youtube.png");
}
body navigation .social .youtube:hover {
  background-image: url("/assets/images/social/youtube_orange.png");
}
body navigation .social .linkedin {
  background-image: url("/assets/images/social/linkedin.png");
}
body navigation .social .linkedin:hover {
  background-image: url("/assets/images/social/linkedin_orange.png");
}
body navigation .social .twitter {
  background-image: url("/assets/images/social/twitter.png");
}
body navigation .social .twitter:hover {
  background-image: url("/assets/images/social/twitter_orange.png");
}
body.open navigation {
  height: 100vh;
}
body.open navigation .navbrand #hamburger {
  background-image: url("/assets/images/closemenu.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 100%;
}
body.open navigation .navcontent {
  display: flex;
  flex-direction: column;
}
body.open navigation .navcontent .social div {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}
@media (min-width: 1000px) {
  body navigation .navbrand {
    width: 900px;
    margin: 0 auto;
  }
  body navigation .navbrand .navbrand_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body navigation .navbrand .navbrand_menu div {
    margin-left: 0.75rem;
  }
  body navigation .navbrand .navbrand_menu div h3 {
    font-size: 0.5rem;
  }
  body navigation .social {
    margin: 0 0 0 1rem !important;
  }
  body navigation .social div {
    margin-right: 0;
  }
}

ui-view {
  display: block;
}
ui-view article {
  padding: 2rem 1rem;
}
ui-view article:first-child {
  padding-top: 5rem !important;
}
ui-view article section {
  margin-bottom: 1rem;
}
ui-view article section:last-child {
  margin: 0;
}
ui-view article img {
  width: 100%;
  margin-top: 1rem;
}
ui-view article iframe {
  width: 100%;
  height: auto;
}
ui-view article form .radiobutton {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}
ui-view article form .radiobutton input {
  width: 1.5rem;
  margin: 0;
}
ui-view article form .radiobutton label {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
@media (min-width: 1000px) {
  ui-view article .container {
    width: 900px;
    margin: 0 auto;
  }
  ui-view article .container iframe {
    height: 240px;
  }
  ui-view article .desktopflex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  ui-view article .desktopflex > * {
    margin-bottom: 0;
    flex: 50%;
  }
  ui-view article .desktopflex > *:first-child {
    margin-right: 1.5rem;
  }
  ui-view article .desktopflex .desktopflexbigger {
    flex: 100%;
  }
  ui-view article .desktopflex + .desktopflex {
    margin-top: 1rem;
  }
  ui-view article .formtext {
    text-align: center;
  }
  ui-view article .formtext .checkmark {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 2rem auto;
  }
}

.newsinstance {
  height: 280px;
  width: 100%;
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
.newsinstance h3 {
  position: absolute;
  width: calc(100% - 2rem);
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  bottom: 0;
  color: #FFFFFF;
  transition: 0.5s;
}
.newsinstance div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.newsinstance:hover h3 {
  padding: 1.5rem 1rem;
}
@media (min-width: 1000px) {
  .newsinstance {
    width: calc(50% - .5rem);
  }
  .newsinstance:nth-of-type(odd) {
    margin-right: 1rem;
  }
}

::placeholder {
  color: black;
  font-weight: bold;
}

form fieldset {
  border: 0;
}
form fieldset input {
  margin-bottom: 0.5rem;
  height: 1.5rem;
  border: 0;
  width: 100%;
  background: none;
  border-bottom: 2px solid #101010 !important;
  padding-left: 0.5rem;
  font-weight: bold;
  opacity: 0.75;
}
form fieldset input:focus {
  opacity: 1;
}
form fieldset h3 {
  margin: 2rem 0 1rem 0;
}
form fieldset h3:first-of-type {
  margin-top: 0;
}

button {
  border: 0;
  background: rgba(0, 0, 0, 0.25);
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  margin-left: auto;
  display: block;
  margin-top: 1rem;
  cursor: pointer;
}

footer {
  padding: 1rem;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 1000px) {
  footer > * {
    display: inline-block;
  }
  footer > *:nth-child(2) {
    margin-left: 2rem;
  }
}

body.brands footer {
  background: #DDDDDD;
}

/*# sourceMappingURL=main.css.map */
